/* Pagination Container */
.tablenav-pages {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

/* Pagination Links */
.tablenav-pages a {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f7f7f7;
    text-decoration: none;
    color: #0073aa;
}

/* Current Page */
.tablenav-pages a.current {
    background-color: #0073aa;
    color: white;
    border-color: #0073aa;
}

/* Hover Effect */
.tablenav-pages a:hover {
    background-color: #00a0d2;
    border-color: #00a0d2;
    color: white;
}

/* Responsive Adjustment */
@media screen and (max-width: 600px) {
    .tablenav-pages a {
        padding: 3px 6px;
        font-size: 12px;
    }
}

/* Modal Styles */
#action-warning-modal {
    display: none;
    background: rgba(24, 24, 27, .98);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

#modal-content {
    background: white;
    border-radius: 5px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
}

#modal-header {
    color: rgb(244, 23, 0);
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#modal-body {
    font-size: 16px;
    margin-bottom: 20px;
}

#proceed-action,
#cancel-action {
    background: green;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

#cancel-action {
    background: gray;
}

#countdown-message {
    display: none;
    margin-top: 20px;
}

#cancel-countdown {
    display: none;
    margin-top: 20px;
    color: rgb(244, 23, 0);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

/* Specific styles for the activate and deactivate buttons */
#proceed-action.activate {
    background: green;
}

#proceed-action.deactivate {
    background: rgb(244, 23, 0);
}
